/* IMPORT */
@import url("https://fonts.googleapis.com/css?family=Caladea:400,400i|Great+Vibes|Roboto:400,700,900&display=swap&subset=latin-ext");
/* VARIABLE */
/* GLOBAL */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Caladea", sans-serif;
  color: #818181;
}

.container {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #818181;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.title {
  padding-top: 90px;
  text-align: center;
}

.title :nth-child(1) {
  font-size: 2.5rem;
  font-family: "Roboto";
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
}

.title :nth-child(2) {
  font-style: italic;
  margin: 0;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* NAV */
nav {
  position: absolute;
  width: 100%;
  margin: 0  auto;
}

nav .navbar {
  justify-content: space-between;
  align-items: center;
}

nav .navbar .logo {
  margin: 10px 0;
  text-transform: capitalize;
  font-family: "Great Vibes";
  font-size: 2rem;
  color: #e0cd25;
}

nav .navbar ul {
  padding: 0;
  margin: 50px 0;
  display: flex;
  list-style: none;
}

nav .navbar ul li {
  margin-right: 30px;
}

nav .navbar ul li:last-child {
  margin-right: 0;
}

nav .navbar ul li a {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 1rem;
  color: white;
  transform: scale(1, 0.9);
  transition: all 0.5s;
}

nav .navbar ul li a:hover {
  color: #e0cd25;
}

/* SPLASH */
.splash {
  height: 100vh;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/531321/pexels-photo-531321.jpeg?cs=srgb&dl=asfalt-ciemny-droga-drzewa-531321.jpg&fm=jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.splash div {
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.splash div :nth-child(1) {
  font-weight: normal;
  font-style: italic;
  text-transform: capitalize;
  font-size: 2rem;
}

.splash div :nth-child(2) {
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 4rem;
}

.splash div .btn {
  font-family: "Roboto";
  text-align: center;
  width: 220px;
  height: 60px;
  line-height: 60px;
  background-color: #e0cd25;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.15em;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  transition: all 1s;
}

.splash div .btn:hover {
  box-shadow: inset 0 0 40px #fffd7e;
}

/* SERVICES */
.services {
  margin-bottom: 65px;
}

.services .cards {
  justify-content: space-between;
  margin: 65px -25px 0 -25px;
}

.services .cards div {
  flex: 1 0 25%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.services .cards div p {
  display: inline-block;
  text-align: center;
  font-size: 0.9rem;
  transform: scale(1, 0.9);
  line-height: 1.5rem;
}

.services .cards div h3 {
  font-family: "Roboto";
  color: black;
}

.services .cards div i {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
  width: 4.5rem;
  border: 3px solid #e0cd25;
  border-radius: 50%;
  color: #e0cd25;
}

/* PORTFOLIO */
.portfolio {
  background-color: whitesmoke;
  justify-content: space-between;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}

.portfolio .portfolio-cards {
  margin: 0 -15px;
  padding: 75px 0;
  justify-content: center;
}

.portfolio .portfolio-cards figure {
  margin: 15px;
  flex: 1 0 30%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.portfolio .portfolio-cards figure a:hover img {
  opacity: 1;
}

.portfolio .portfolio-cards figure img {
  opacity: 0.8;
  overflow: hidden;
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.5s;
}

.portfolio .portfolio-cards figure figcaption {
  text-align: center;
  margin: 20px;
}

.portfolio .portfolio-cards figure figcaption :nth-child(1) {
  font-weight: bold;
  font-family: "Roboto";
  color: black;
}

.portfolio .portfolio-cards figure figcaption :nth-child(2) {
  margin: 0;
  font-style: italic;
}

/* FOOTER */
footer {
  width: 100%;
  align-items: center;
  padding: 30px 0;
}

footer p {
  margin: 0;
  position: absolute;
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: bold;
}

footer .social {
  margin: 0 auto;
  font-size: 0;
}

footer .social i {
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 20px;
  background-color: black;
  border-radius: 50%;
  margin: 10px;
}

/* MEDIA */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .services .cards {
    margin: 0;
  }
  footer {
    flex-direction: column !important;
  }
  footer p {
    margin: 10px 0;
    position: relative;
    order: 1;
  }
}

@media (max-width: 576px) {
  .flex-wrap {
    flex-direction: column;
  }
  .portfolio .portfolio-cards {
    margin: 0;
  }
  .services .cards {
    padding: 25px 0;
  }
  .services .cards {
    margin: 65px 0 0 0;
  }
  nav .navbar ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
  }
  nav .navbar ul li {
    margin: 5px 20px;
  }
  nav .navbar ul li:last-child {
    margin-right: 20px;
  }
}
