  
/* IMPORT */

@import url('https://fonts.googleapis.com/css?family=Caladea:400,400i|Great+Vibes|Roboto:400,700,900&display=swap&subset=latin-ext');

/* VARIABLE */

$font-header: 'Roboto';
$font-text: 'Caladea', sans-serif;
$font-logo: 'Great Vibes';

$text-color: rgb(129, 129, 129);
$text-color-light: rgb(255, 255, 255);
$text-color-dark: rgb(0, 0, 0);
$text-color-logo: rgb(224, 205, 37);

$bg-color-1: rgb(255, 255, 255);
$bg-color-2: rgb(245, 245, 245);

/* GLOBAL */

*, *::before, *::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family :$font-text;
    color: $text-color;
}

.container{
    margin: 0 auto;
}


a{
    text-decoration: none;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    text-align: center;
}

.title{
    padding-top: 90px;
    text-align: center;

    :nth-child(1){
        font-size: 2.5rem;
        font-family: $font-header;
        text-transform: uppercase;
        color: $text-color-dark;
        letter-spacing: 2px;
    }
    :nth-child(2){
        font-style: italic;
        margin: 0;
    }
}

.flex-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* NAV */

nav{
    position: absolute;
    width: 100%;
    margin: 0  auto;

    .navbar{
        justify-content: space-between;
        align-items: center;

        .logo{
            margin: 10px 0;
            text-transform: capitalize;
            font-family: $font-logo;
            font-size: 2rem;
            color: $text-color-logo;
        }

        ul{ 
            padding: 0;
            margin: 50px 0;
            display: flex;
            list-style: none;
           
            li{
                margin-right: 30px;

                &:last-child{
                    margin-right: 0;
                }

                a{
                    display: inline-block;
                    text-transform: uppercase;
                    font-family: $font-header;
                    font-size: 1rem;
                    color: $text-color-light;
                    transform: scale(1, 0.9);
                    transition: all 0.5s;

                    &:hover{
                        color: $text-color-logo;
                    }
                }
            }
        }
    }
}

/* SPLASH */

.splash{
    height: 100vh;
    width: 100%;
    background-image: url('https://images.pexels.com/photos/531321/pexels-photo-531321.jpeg?cs=srgb&dl=asfalt-ciemny-droga-drzewa-531321.jpg&fm=jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color-light;

    div{
        height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        :nth-child(1){
            font-weight: normal;
            font-style: italic;
            text-transform: capitalize;
            font-size: 2rem;
        }

        :nth-child(2){
            font-family: $font-header;
            text-transform: uppercase;
            font-size: 4rem;
        }

        .btn{
            font-family: $font-header;
            text-align: center;
            width: 220px;
            height: 60px;
            line-height: 60px;
            background-color: $text-color-logo;
            color: $text-color-light;
            border-radius: 3px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.15em;
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
            transition: all 1s;

            &:hover{
                box-shadow: 0 0 40px rgb(255, 253, 126);

            }
        }

    }
}

/* SERVICES */

.services{
    margin-bottom: 65px;

    .cards{
        justify-content: space-between;
        margin: 65px -25px 0 -25px;

        div{
            flex: 1 0 25%;
            min-width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px;

            p{
                display: inline-block;
                text-align: center;
                font-size: 0.9rem;
                transform: scale(1, 0.9);
                line-height: 1.5rem;
            }

            h3{
                font-family: $font-header;
                color: $text-color-dark;
            }

            i{
                margin-bottom: 20px ;
                text-align: center;
                font-size: 2rem;
                line-height: 4rem;
                width: 4.5rem;
                border: 3px solid $text-color-logo;
                border-radius: 50%;
                color: $text-color-logo;
            }
        }
    }
}

/* PORTFOLIO */

.portfolio{
    background-color: $bg-color-2;
    justify-content: space-between;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
    
    .portfolio-cards{
        margin: 0 -15px;
        padding: 75px 0;
        justify-content: center;

        figure{
            margin: 15px;
            flex: 1 0 30%;
            min-width: 300px;
            display: flex;
            flex-direction: column;
            background-color: $bg-color-1;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

            a:hover img{
                opacity: 1;
            }

            img{
                opacity: 0.8;
                overflow: hidden;
                width: 100%;
                height: 300px;
                object-fit: cover;
                transition: all 0.5s;
            }

            figcaption{
                text-align: center;
                margin: 20px;

                :nth-child(1){

                     font-weight: bold;
                     font-family: $font-header;
                     color: $text-color-dark;
                }

                :nth-child(2){
                    margin: 0;
                    font-style: italic;
                }
            }
        }
    }

}

/* FOOTER */

footer{
    width: 100%;
    align-items: center;
    padding: 30px 0;

    p{
        margin: 0;
        position: absolute;
        font-family: $font-header;
        font-size: 0.9rem;
        font-weight: bold;
    }

    .social{
        margin: 0 auto;
        font-size: 0;

        a:hover i{
            color: $text-color-logo;
            box-shadow: 0 0 15px $text-color-logo;
        }

        i{  
            text-align: center;
            line-height: 40px;
            width: 40px;
            height: 40px;
            color: $text-color-light;
            font-size: 20px;
            background-color: $text-color-dark;
            border-radius: 50%;
            margin: 10px;
            transition: all 0.5s;
        }
    }
}

/* MEDIA */

@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}

@media (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container{
        max-width: 720px;
    }
 }

 @media (max-width: 768px) { 
    .container{
        max-width: 540px;
    }
 
    .services .cards{
        margin: 0;
    }

        footer {
            flex-direction: column !important; 

            p{
            margin: 10px 0;
            position: relative;
            order: 1;
        }
    }
}
@media (max-width:  576px) { 

    .flex-wrap{
        flex-direction: column;  
    }

    .portfolio .portfolio-cards{
        margin: 0;
    }

    .services .cards{
        padding: 25px 0;
    }

    .services .cards{
        margin: 65px 0 0 0;
    }

    nav .navbar ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin: 0;

        li{
            margin: 5px 20px;

            &:last-child{
                margin-right: 20px;
            }
        }
    }
 }




