  
/* IMPORT */

@import url('https://fonts.googleapis.com/css?family=Caladea:400,400i|Great+Vibes|Roboto:400,700,900&display=swap&subset=latin-ext');

/* VARIABLE */

$font-header: 'Roboto';
$font-text: 'Caladea', sans-serif;
$font-logo: 'Great Vibes';

$text-color: rgb(129, 129, 129);
$text-color-light: rgb(255, 255, 255);
$text-color-dark: rgb(0, 0, 0);
$text-color-logo: rgb(224, 205, 37);

$bg-color-1: rgb(255, 255, 255);
$bg-color-2: rgb(245, 245, 245);

/* GLOBAL */

*, *::before, *::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family :$font-text;
    color: $text-color;
}

.container{
    margin: 0 auto;
}


a{
    text-decoration: none;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    text-align: center;
}

.title{
    padding-top: 90px;
    text-align: center;

    :nth-child(1){
        font-size: 2.5rem;
        font-family: $font-header;
        text-transform: uppercase;
        color: $text-color-dark;
        letter-spacing: 2px;
    }
    :nth-child(2){
        font-style: italic;
        margin: 0;
    }
}



/* NAV */

nav{
    position: absolute;
    width: 100%;
    margin: 0  auto;

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            text-transform: capitalize;
            font-family: $font-logo;
            font-size: 2rem;
            color: $text-color-logo;
        }

        ul{ 
            padding: 0;
            margin: 50px 0;
            display: flex;
            list-style: none;
           
            li{
                margin-right: 30px;

                &:last-child{
                    margin-right: 0;
                }

                a{
                    display: inline-block;
                    text-transform: uppercase;
                    font-family: $font-header;
                    //font-weight: bold;
                    font-size: 1rem;
                    color: $text-color-light;
                    transform: scale(1, 0.9);
                }
            }
        }
    }
}

/* SPLASH */

.splash{
    height: 100vh;
    width: 100%;
    background-image: url('https://images.pexels.com/photos/531321/pexels-photo-531321.jpeg?cs=srgb&dl=asfalt-ciemny-droga-drzewa-531321.jpg&fm=jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color-light;

    div{
        height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        :nth-child(1){
            font-weight: normal;
            font-style: italic;
            text-transform: capitalize;
            font-size: 2rem;
        }

        :nth-child(2){
            font-family: $font-header;
            text-transform: uppercase;
            font-size: 4rem;
        }

        .btn{
            font-family: $font-header;
            text-align: center;
            width: 220px;
            height: 60px;
            line-height: 60px;
            background-color: $text-color-logo;
            color: $text-color-light;
            border-radius: 3px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.15em;
        }

    }
}

/* SERVICES */

.services{
    margin-bottom: 72px;

    .cards-1{
        margin-top: 90px;;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -25px;

        div{
            flex: 1 0 25%;
            min-width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 25px;

            p{
                display: inline-block;
                text-align: center;
                font-size: 0.9rem;
                transform: scale(1, 0.9);
                line-height: 1.5rem;
            }

            h3{
                font-family: $font-header;
                color: $text-color-dark;
            }

            i{
                margin-bottom: 20px ;
                text-align: center;
                font-size: 2rem;
                line-height: 4rem;
                width: 4.5rem;
                border: 3px solid $text-color-logo;
                border-radius: 50%;
                color: $text-color-logo;
            }
        }
    }
}

/* PORTFOLIO */

.portfolio{
    background-color: $bg-color-2;
    justify-content: space-between;
    
    .wrap{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        padding: 75px 0;

        figure{
            flex: 1 0 30%;
            min-width: 300px;
            display: flex;
            flex-direction: column;
            margin: 15px;
            background-color: $bg-color-1;

            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
            }

            figcaption{
                text-align: center;
                margin: 20px;

                :nth-child(1){

                     font-weight: bold;
                     font-family: $font-header;
                     color: $text-color-dark;
                }

                :nth-child(2){
                    margin: 0;
                    font-style: italic;
                }
            }
        }
    }

}

/* MEDIA */

@media (min-width: 576px) { 
    .container{
        max-width: 540px;
    }
 }

@media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
 }

@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}